DATABASE_URL="postgresql://user:password@localhost:5432/virtual_bike"
NODE_ENV=development
PLACETOPAY_LOGIN=DPtZMXC3P29xpMNA8kPePWW7Yfg8m3vg
PLACETOPAY_TRANKEY=yw9UP4WUfbJZBzh8
PLACETOPAY_BASE_URL=https://api.placetopay.com/rest/gateway/
PLACETOPAY_WEBHOOK_SECRET=your_webhook_secret_here
RESEND_API_KEY=re_your_resend_key_here
ADMIN_EMAIL=sebastian@virtual-bike.cl
ADMIN_TOKEN=your_random_strong_token_here
FRONTEND_URL=http://localhost:5173
API_URL=http://localhost:3000
